.post-title {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

.post-title:hover {
    text-decoration: underline;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
}

.post {
    background-color: rgb(255, 249, 240);
    padding: 16px 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    transition-duration: 0.2s;
    border-radius: 6px;
    border-left: 5px solid #7895B2;
}

.post:hover {
    background-color: rgb(253, 247, 238);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.post .post-author {
    margin-top: auto;
    font-size: 0.8em;
}

.post .post-body-preview {
    font-size: 0.9em;
    color: grey;
}

.post-body {
    width: 50%;
    border: 6px solid #7895B2;
    border-radius: 16px;
    padding: 16px;
    background-color: #F5EFE6;
    color: rgb(98, 98, 98);
    box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.2);
}

.post-wrapper .post-title, .main-page-heading {
    text-decoration: none;
    text-shadow: 2px 0px #7895B2;
    font-size: 2em;
    color: white;
    -webkit-text-stroke: 1px #7895B2;
    transition-duration: 0.2s;
    margin-right: auto;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-actions {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.post-actions a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    padding: 4px 12px;
    border-radius: 16px;
    background-color: #7895B2;
    transition-duration: 0.2s;
}

.post-actions a:hover {
    background-color: #AEBDCA;
}

.new-comment-textarea, .comment-form-disabled > textarea {
    width: 512px;
    max-width: 512px;
    min-width: 256px;
    height: 256px;
    min-height: 48px;
}

.new-comment-textarea:focus {
    outline: 1px solid #7895B2;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px 0;
}

.comment {
    border-bottom: 5px solid #7895B2;
    border-radius: 8px;
    padding: 16px;
    width: 50%;
}

.comment .comment-body {
    color: rgb(98, 98, 98);
}

.comment a {
    text-decoration: none;
}

.comment a:hover {
    color: #7895B2;
    text-decoration: underline;
}

.comment .comment-user, .comment .comment-date, .comment a, .no-comments-msg {
    font-size: 0.8em;
    color: grey;
}

.comment .comment-user {
    font-weight: 600;
    margin-right: auto;
    color: black;
}

.post-info {
    color: grey;
    font-size:  0.5em;
    margin: 16px 0;
}

.new-post-form-wrapper textarea {
    max-width: 512px;
    min-width: 512px;
    min-height: 128px;
}

.new-post-form-wrapper textarea:focus {
    outline: 1px solid #7895B2;
}

.form-errors, #error_explanation {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: red;
}

.form-errors p, #error_explanation p {
    margin: 0;
}

.field input[type='email'], .field input[type='password'], .field input[type='text'], .field textarea {
    border-radius: 16px;
    padding: 4px 16px;
    width: 256px;
    margin-top: 4px;
}

.field input:focus {
    outline: 1px solid #7895B2;
}

.field input[type='checkbox']:focus {
    outline: none;
}

.field label, .field em, .field i {
    font-size: 0.9em;
    color: grey;
}

.field em, .field i {
    font-size: 0.8em;
}

.sign-up-form-wrapper, .log-in-form-wrapper, .new-post-form-wrapper, .edit-account-form-wrapper {
    display: flex;
    align-items: center;
    padding: 16px;
    flex-direction: column;
}

.sign-up-form-wrapper form, .log-in-form-wrapper form, .new-post-form-wrapper form, .edit-account-form-wrapper form {
    padding: 16px 48px;
    background-color: #F5EFE6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
}

.sign-up-form-wrapper a, .log-in-form-wrapper a {
    text-decoration: none;
    font-size: 0.7em;
    margin-top: 8px;
    color: grey;
}

.sign-up-form-wrapper a:hover, .log-in-form-wrapper a:hover {
    text-decoration: underline;
}

.no-stories-msg {
    color: grey;
    text-align: center;
    font-style: italic;
}